@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Mono:wght@700&family=Roboto:wght@700&display=swap');

:root {
    --primary: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
